<app-search (searchAlbums)="searchParent($event)" (reload)="reloadParent($event)"></app-search>
 
<div class="row content">
    <h1>{{ titlePage }}</h1>
    <div class="col-sm-4 video">
        <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
    </div><!-- .video -->
    <div class="col-sm-8 music">
        <app-paginate (paginate)="paginate($event)" [aPerPage]="3"></app-paginate>
        <button type="button" class="btn btn-lg btn-danger">You are in an anonymous mode.</button>

        <div class="card" *ngFor="let album of albums; let index = index">
            <div class="card-header">
                {{ album.id }} - {{ album.ref }} <span *ngIf="album.status=='on'">[play]</span>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a routerLink="/album/{{ album.id }}">{{ album.title }}</a></h5>
                <p class="card-text">{{ album.description }}</p>
                <span *ngIf="album.tags">
                    <span *ngFor="let tag of album.tags">
                            <a class="btn btn-outline-primary" href="#" role="button">{{ tag }}</a>
                    </span>
                </span>

                <ng-template [ngIf]="album.like">
                    <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
                    <small>{{ album.like }}</small>
                </ng-template>
                <ng-template [ngIf]="album.duration">
                    <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
                    <small>{{ album.duration }} min</small>
                </ng-template>
            </div>
            <button class="btn btn-dark" (click)="onSelect(album)">Details</button>
        </div><!-- .card -->
        <app-paginate (paginate)="paginate($event)" [aPerPage]="3"></app-paginate>
    </div><!-- .music -->
</div>